<h1 class="bg-info py-4 text-center">Form-Table using ngModel</h1>
<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col-md-6 bg-info">
      <app-ng-child-to-parent
        class=""
        (childtoparent)="ondoller1($event)"
      ></app-ng-child-to-parent>
    </div>
    <div class="col-md-6 bg-success">
      <app-parent-to-table [stdInfo]="studentArray1"></app-parent-to-table>
    </div>
  </div>
</div>
<hr />

<h3 class="bg-primary py-4 text-center">Form-Table using elementReference</h3>
<div class="container">
  <div>
    <div class="row mt-4 mb-4 bg-secondary">
      <div class="col-md-6">
        <app-view-child-form-to-parent
          (childtoparent)="ondoller2($event)"
        ></app-view-child-form-to-parent>
      </div>
      <div class="col-md-6">
        <app-view-parent-to-table
          [stdInfo]="studentArray2"
        ></app-view-parent-to-table>
      </div>
    </div>
    <hr />
  </div>
  <h1 class="bg-info py-4 text-center mt-4">
    Form-Table using ViewChild(nativeElement)
  </h1>
  <div class="container">
    <div class="bg-success">
      <div class="row mt-4">
        <div class="col-md-6">
          <app-ref-form-to-parent
            (createEvent)="ondoller3($event)"
          ></app-ref-form-to-parent>
        </div>
        <div class="col-md-6">
          <app-ref-parent-to-table
            [stdInfo1]="studentArray3"
          ></app-ref-parent-to-table>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container"> -->
  <!-- product -->

  <!--     <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Product Name</label>
        <input #productName type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="">ProductDescription</label>
        <input #ProductDescription type="text" class="form-control" />
      </div>
      <div class="form-group">
        <button
          class="btn btn-primary"
          (click)="
            addProductDetails(productName, ProductDescription, 'Product')
          "
        >
          Add as product
        </button>
        <button
          class="btn btn-primary"
          (click)="addProductDetails(productName, ProductDescription, 'Catlog')"
        >
          Add as catlog
        </button>
      </div>
    </div>

    <div class="col-md-6 text-white">
      <div
        class="card"
        *ngFor="let item of ProductArray"
        [ngClass]="{
          'bg-primary': item.Pcat === 'Product',
          'bg-success': item.Pcat === 'Catlog'
        }"
      >
        <div class="card-header">{{ item.pname }}</div>
        <div class="card-body">{{ item.pDesc }}</div>
      </div>
    </div>
  </div>
</div> -->
<!--
  <div class="row">
    <div class="col-6 text-white">
      <label for="">product name</label>
      <input type="text" #productName class="form-control" />
      <label for="">product description</label>
      <input type="text" #ProductDescr class="form-control" />
      <button
        class="btn btn-primary"
        (click)="Onclick(productName, ProductDescr, 'Product')"
      >
        add as product
      </button>
      <button
        class="btn btn-primary"
        (click)="Onclick(productName, ProductDescr, 'Catlog')"
      >
        add as description
      </button>
    </div>
    <div class="col-6">
      <div
        class="card"
        *ngFor="let item of ProductArray"
        [ngClass]="{
          'bg-primary': item.Pcat === 'Product',
          'bg-success': item.Pcat === 'Catlog'
        }"
      >
        <div class="card-header">{{ item.pname }}</div>
        <div class="card-body">{{ item.pdesc }}</div>
      </div>
    </div>
  </div>
</div>
 -->
