<div class="form-group">
  <label for="">fname</label>
  <input type="text" [(ngModel)]="fnameval" class="form-control" />
</div>
<div class="form-group">
  <label for="">lname</label>
  <input type="text" [(ngModel)]="lnameval" class="form-control" />
</div>
<div class="form-group">
  <label for="">contact</label>
  <input type="text" [(ngModel)]="contactval" class="form-control" />
</div>
<div class="form-group">
  <label for="">email</label>
  <input type="text" [(ngModel)]="emailval" class="form-control" />
</div>
<div class="text-right">
  <button class="btn btn-secondary " (click)="onadd()">add</button>

</div>

